body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

header div {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header span {
    margin: auto 0;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

.slider-container {
    position: relative;
}

.swiper-container {
    overflow: hidden;
    margin: auto 45px auto 45px;
}

.swiper-slide {
    margin-right: 1rem;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in-out;
}

:root {
    --swiper-theme-color: #333;
}

.swiper-slide div {
    height: 232px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom,-28px);
}


.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.user-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user {
    height: 243px;
    width: 29%;
    border: 2px solid #e4e4e4;
    border-radius: 20px;
    margin-bottom: 1rem;
    padding: 10px;
    cursor: pointer;
}

.user:hover {
    box-shadow: 0 20px 35px rgba(0,0,0,.1);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.user > * {
    text-align: center;
    font-size: 22px;
    margin: 15px auto 0 auto;
}

.user img {
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    bottom: 0;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}